<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/style.css?v=4">
</head>
<body>
    <header>
        <nav>
            <a href="/index.html">Home</a>
            <a href="/templates.html">Templates</a>
            <a href="/cv.html">CV</a>
        </nav>
    </header>
    <hr>

    {{ content }}

    {% if page.id %}
    <hr>
    <footer>
        {% if page.previous %}<a href="{{ page.previous.url }}">&lt;&lt; Previous</a>{% else %}<a href="#" class="disabled">&lt;&lt; Previous</a>{% endif %}
        <a href="/index.html">Home</a>
        {% if page.next %}<a href="{{ page.next.url }}">Next &gt;&gt;</a>{% else %}<a href="#" class="disabled">Next &gt;&gt;</a>{% endif %}
    </footer>
    {% endif %}
</body>
</html>
